.gain {
    color: var(--app-secondary-color);
}

#header {
    height: 30vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    color: #fff;

    & > div {
        &:first-child {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            h2 > fa-icon {
                margin-right: 7px;
            }
        }

        &:nth-child(2) {
            h1 {
                font-size: 40px;
                margin: 0;
                white-space: nowrap;
                span {
                    font-size: 16px !important;
                    opacity: .8;
                }
            }
        }

        &:last-child {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: baseline;
            align-items: baseline;
            padding: 1px 5px;

            button {
                min-width: 100px;
            }
        }
    }
}

#graph {
    height: 42vh;
    display: flex;
    justify-content: center;
    align-items: center;

    canvas {
        height: 100%;
    }
}

#actions {
    height: 19vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        flex-basis: 49%;
        font-size: 26px;

        &:first-child > fa-icon {
            transform: rotateX(90deg);
        }
    }
}