/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

@media screen and (min-width: 500px) {
  #main-content {
    display: none;
  }

  #screen-size-warn {
    color: red;
  }
}

@media screen and (max-width: 500px) {
  #screen-size-warn {
    display: none;
  }
}

:root {
  --app-dark-color: #0e0e18;
  --app-primary-color: #5957bb;
  --app-secondary-color: #bae399;
  --app-faded-color: rgba(255, 255, 255, 0.09);
  --app-header-height: 200px;
}

* {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: var(--app-dark-color);
}

.btn {
  padding: 20px;
  border: 0;
  border-radius: 20px;
  margin: 2px;
  transition: all;
  transition-duration: 1s;

  &:hover {
    cursor: pointer;
  }

  &-primary {
    background-color: var(--app-primary-color);
    color: #fff;
  }

  &-secondary {
    background-color: var(--app-secondary-color);
    color: var(--app-dark-color);
  }

  &-plain {
    color: var(--app-dark-color);
  }

  &-grey {
    background-color: var(--app-faded-color);
    color: #fff;
  }

  &-clear {
    color: #fff;
    background-color: transparent;
    border: 1px solid var(--app-primary-color);
  }

  &-white {
    color: var(--app-dark-color);
    background-color: #fff;
  }
}

.back-arrow {
  position: fixed !important;
  top: 25px;
  left: 15px;
  font-size: 35px;
  color: #fff;
  mix-blend-mode: difference;
  cursor: pointer;
  animation: none;
}

button {
  animation-name: animateBtn;
  transform-origin: 0%;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 500ms;
}

@keyframes animateBtn {
  from {
    transform: scaleX(0) scaleY(0);
  }

  to {
    transform: scaleX(1) scaleY(1);
  }
}

.app-page {
  animation: navigateAnime;
  animation-duration: 600ms;
}

@keyframes navigateAnime {
  from {
    transform: translateX(90%);
  }

  to {
    transform: translateX(none);
  }
}